*{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 10px;
    background-color: whitesmoke;
}


/* HomePage */
.homepage{
    height: 45vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
    background-image: url(DSF1435.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.hometitle{
    color: #004253;
    -webkit-text-stroke: #f1d871 2px;
    font-size: 8vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 5px;
}

.homecontent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(181, 180, 180, 0.258);
}


/* Categories */
.foods{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    outline: #1ca9c9 1px solid;
    border: #00153b 1px solid;
    outline-offset: -10px;
    padding: 40px 0;
}

.categories{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: 
    "cat1 cat2"
    "cat3 cat4";
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    background-color: ;
}

.cat1, .cat2, .cat3, .cat4{
    width: 40vw; /* Change in desktop size! */
    height: 20vw; /* Change in desktop size! */
    background-color: #7eeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: transform ease 0.5s;
    margin: 10px 0;
}

.cat1{
    grid-area: cat1;
    background-image: url(appetizers.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.cat2{
    grid-area: cat2;
    background-image: url(entree.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.cat3{
    grid-area: cat3;
    background-image: url(dessert.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.cat4{
    grid-area: cat4;
    background-image: url(wine.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.cat1:hover, .cat2:hover, .cat3:hover, .cat4:hover, .cat1:focus, .cat2:focus, .cat:focus, .cat4:focus{
    font-weight: bold;
    transform: scale(1.1);
}

.menu{
    padding: 10px 20px;
    text-align: center;
    border: 1px #00153b solid;
    border-radius: 10px;
    font-size: 20px;
}

.menu a{
    color: black;
}

.menu:hover, .menu:focus{
    font-weight: bold;
    border: 1px transparent solid;
    outline: 5px #7eeef1 dashed;
    background-color: #f1d87e;
}

/* Appointment */
.appointment{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #00153b 50%, #7eeef1);
}

.appphoto{
    background-image: url(DSF1434.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}


.applink{
    width: 70%;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80%;
    background-color: whitesmoke;
}

.apptitle{
    color: #00153b;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.appcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    color: #00153b;
    background-color: rgba(181, 180, 180, 0.258);
}

.appbutton{
    padding: 10px 20px;
    text-align: center;
    border: 1px #00153b solid;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.appbutton a{
    color: black;
}

.appbutton:hover, .appbutton:focus{
    font-weight: bold;
    background-color: #1ca9c9;
    border: 1px transparent solid;
    outline: 4px #f1d87e dashed;
}

.appbutton a:hover, .appbutton a:focus{
    color: white;
}

/* About */
.about{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
    background-image: url(DSF1426.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.abouttitle{
    width: 100%;
    text-align: center;
}

.abouttitle h1{
    color: #1ca9c9;
    -webkit-text-stroke: #f1d871 2px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
    width: 100%;
    margin-bottom: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 5px;
}

.abouttitle p{
    color: #1ca9c9;
    font-size: 25px;
    letter-spacing: 10px;
    width: 100%;
}

.aboutbutton{
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    background-color: #f1d871;
    transition: transform 0.5s ease;
}

.aboutbutton a{
    color: white;
}

.aboutbutton:hover, .aboutbutton:focus{
    transform: scale(1.2);
    color: white;
}

/* Subscribe */

.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.subphoto{
    width: 30%;
    height: 400px;
    background-image: url(DSF1603.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletters{
    height: 350px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
    margin: 20px 0;
    text-align: center;
}

form {
    max-width: 900px;
    margin: 10px auto;
    border-radius: 8px;
}

form h1 {
    margin: 10px 0;
    text-align: center;
}

form p{
    margin-top: 30px;
    font-size: 16px;
}
input[type="email"] {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #1ca9c9;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 75%;
    background-color: #f5f5f5;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    transition: all 350ms ease;
}

input::placeholder{
    color: #1ca9c9;
}

input:hover,
input:focus {
    outline: 2px solid #1ca9c9;
}

label:required {
    color: yellow;
}

button {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: #1a8ca5;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 90%;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #1ca9c9;
    color: white;
    font-weight: bold;
    border-color: #8a97a0;
    
}

fieldset {
    border: none;
}

/* Forum */
.forum{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 0.5);
    background-image: url(forum.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.forumtitle{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.forumtitle h1{
    color: #7eeef1;
    -webkit-text-stroke: white 2px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 10px;
    width: 100%;
    margin-bottom: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 5px;
}

.forumtitle p{
    color: white;
    font-size: 25px;
    letter-spacing: 10px;
    width: 80%;
    line-height: 40px;
}

.forumbutton{
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    background-color: #7eeef1;
    transition: transform 0.5s ease;
}

.forumbutton:hover, .forumbutton:focus{
    transform: scale(1.2);
}

.forumbutton a{
    color: black;
}

/* Desktop View */
@media screen and (min-width: 768px) {
    main{
        width: 100%;
        display: grid;
        grid-column: 1.2fr 0.8fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "homepage homepage"
        "foods foods"
        "appointment appointment"
        "about about"
        "subscribe forum";
    }

    .homepage{
        grid-area: homepage;
        width: 100%;
    }

    .foods{
        grid-area: foods;
        gap: 40px;
        padding: 60px 0;
        width: 100%;
    }

    .categories{
        width: 100%;
        grid-column: 1fr 1fr 1fr 1fr;
        grid-row: 1fr;
        grid-template-areas: 
        "cat1 cat2 cat3 cat4";
        justify-content: space-evenly;
        align-content: center;
    }

    .cat1, .cat2, .cat3, .cat4{
        width: 22vw; /* Change in desktop size! */
        height: 15vw; /* Change in desktop size! */
        background-color: #7eeef1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        transition: transform ease 0.5s;
        margin: 10px 0;
    }

    .menu{
        font-size: 1.5vw;
    }

    .appointment{
        grid-area: appointment;
        height: 500px;
    }

    .appphoto{
        width: 50%;
        height: 100%;
    }

    .applink{
        width: 50%;
        height: 85%;
    }
    
    .apptitle{
        font-size: 3vw;
    }

    .appbutton{
        font-size: 1.5vw;
    }

    .about{
        grid-area: about;
        height: 600px;
    }

    .abouttitle h1{
        font-size: 6vw;
    }

    .aboutbutton{
        font-size: 1.5vw;
    }

    .subscribe{
        grid-area: subscribe;
        height: 500px;
    }

    .subphoto{
        width: 50%;
    }
    .newsletters{
        width: 50%;
    }

    .forum{
        grid-area: forum;
        height: 500px;
    }

}